body>header
{
	border-style: dashed;
	border-width: 2px;
}

#rubrique
{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
}

section
{
	display: block;
}

article
{
	margin-top: 3%;
	border-style: dashed;
	border-width: 2px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;

}

article>header
{
	background-color: #CCCCCC;
	margin-bottom: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}
article>header>h1
{
	font-size: 30;
}
article>footer
{
	background-color: #CCCCCC;
	margin-top: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}
.tab
{
	border-style: dashed;
	border-width: 1px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	
}
