header
{
	color:white;
	background-color: rgb(111, 84, 153);
	padding:5%;
	text-align: center;

}
article
{
	margin-top: 2%;
	text-align: center;
}
#formulaire
{
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
}
#ok
{
	margin-top: 1%;
}
#label1
{	
	visibility: hidden;
	margin-top: 2%;
	text-align: center;
}

#retry
{
	top:5px;
	width:50px;
	height: 30px;
}